.ant-table-thead > tr > th.zks_eth {
    background-color: #f0794e;
    color: white;
}

.ant-table-thead > tr > th.zks_lite {
    background-color: #5bc0de;
    color: white;
}

.ant-table-thead > tr > th.zks_era {
    background-color: #4e9ed4;
    color: white;
}

.ant-table-cell {
    text-align: center;
    font-size: 20px;
}

.ant-table-small .ant-table-cell,
.ant-table-small .ant-table-thead > tr > th {
    padding: 4px 8px;
    font-size: 16px;
}

.ant-table-small .ant-table-row {
    line-height: 1.2;
}

.ant-table {
    font-weight: 600;
}
